<html>
    <head>
        <title>Biomarkers</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"></link>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <link rel="stylesheet" type="text/css" href="/index.css"></link>
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="/biomarkers" class="header item">
                    <i class="flask icon"></i>
                    Biomarkers
                </a>
                <a href="/biomarkers/new" class="item">New</a>
                <a href="/logout" class="item">Signout</a>
            </div>
        </div>
        <div class="row">
            </br>
        </div>